.btn-brand{
  background-image: linear-gradient(75deg, pink,rgb(204, 136, 148));
  border-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  height: 60px;
  color:white;
  border-radius: 10px;
  

}

.text-brand{
      color:rgb(243, 200, 145);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.nav-brand{
    
      color:rgb(243, 200, 145);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     

}